@import url('https://fonts.googleapis.com/css?family=Alice|Bungee|Passion+One');
h1 {
    text-align: center;
  font-family: 'Mystery Quest', cursive;
}

p {
 font-family: 'Passion One', cursive;
    font-size: 18px;
    line-height: 1.5em;
    margin: 2em;
}

body {
  text-align: center;
  background: url("http://www.aimeejette.com/unit3/images/identity.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
	font-weight: bold;
}

p {
	font-family: Arial;
}

img {

}

#slogan {
	text-align: center;
	color: #000;
	font-weight: bolder;
	font-size: x-large;
}

ul {
    text-align: center;
    list-style-type: none;
}