body {
  text-align: center;
  background: url("http://www.aimeejette.com/unit3/images/identity.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
	font-weight: bold;
}

p {
	font-family: Arial;
}

img {

}

#slogan {
	text-align: center;
	color: #000;
	font-weight: bolder;
	font-size: x-large;
}

#bestID {
text-align: right;
color: grey;
}

ul {
    text-align: center;
    list-style-type: none;
}